html {
    margin: 0;
    padding: 0;
    background-color: #0089d9;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.logo {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: flex;
    height: 8vh;
}

.bg {
    width: 100%;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    float: left;
}

#editnav {
    background-color: #0089d9;
    width: 90%;
    margin: 1vh auto 0 auto;
    border-radius: 3em;
    border: 0.5vh outset #46bbff;
}

#editnavlink {
    color: white;
    padding: 1em 2em;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .2s ease-in-out;
}

#editnavlink:hover {
    background-color: white;
    border-radius: 3em;
    transform: scale(1.1);
    color: #0089d9;
}

.seclayer {
    background-image: url(gambar/bg\ smp\ 1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.seclayer-img {
    margin-left: 13vw;
    margin-top: 15vh;
    margin-bottom: 4vh;
    width: 75%;
    height: flex;
    background-color: white;
    border-radius: 1vw;
}

.seclayer-desc {
    background-color: #46bbff;
    border-radius: 1vw;
    color: white;
    text-align: center;
    margin-left: 20vw;
    width: 63%;
    height: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prestasiwan {
    width: 20vw;
    height: flex;
    margin: 0 2.5vw;
    transition: 200ms ease-in-out;
}

.prestasiwan:hover {
    transform: scale(1.05);
    box-shadow: 0.5vh 1vh 0.5vh;
    background-color: #46bbff;
}

.imgberita {
    width: 10vw;
    height: flex;
    margin: 1vw 0 0.5vw 0;
}

.judul {
    padding: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secprestasi {
    display: inline;
    margin: 0 auto;
}

.tabel {
    border: 3px solid white;
    color: white;
    text-align: left;
    background-color: #46bbff;
    width: 70%;
}

.tabel tr th {
    border: 1px solid white;
    padding-inline: 1em;
    text-align: center;
}

td {
    padding-inline: 1em;
}

.tabel tr td {
    border: 1px solid white;
}

.konten {
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0.5vh 1vh 0.5vh black;
    height: flex;
    width: 22vw;
    text-align: center;
    align-items: center;
    margin: 5vw;
    margin-left: 5.5vw;
    transition: 200ms ease-in-out;
    float: left;
}

.puspresnas {
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0.5vh 1vh 0.5vh black;
    height: flex;
    width: 22vw;
    text-align: center;
    align-items: center;
    margin: 5vw;
    margin-left: 5.5vw;
    transition: 200ms ease-in-out;
    float: left;
}

.puspresnas:hover {
    background-color: rgba(255, 221, 0, 0.904);
    border-radius: 1.5vw;
    transform: scale(1.05);
    color: white;
}

.konten:hover {
    background-color: #46bbff;
    border-radius: 1.5vw;
    transform: scale(1.05);
    color: white;
}

footer {
    background-color: #003a7c;
    width: 100%;
    float: left;
}

footer p {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

row {
    display: flex;
    flex-direction: row;
}

kolom {
    display: flex;
    flex-direction: column;
}

.tengah {
    width: 100%;
    align-items: center;    
}

.bg-black {
    background-color: black;
}

footer {
    background-color: #003a7c;
    width: 100%;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
}

.sosmed {
    float: left;
    margin: 5vh 0 5vh 8vw; /*atas kanan bawah kiri*/
    color: white;
    width: 45%;
}

.about {
    color: #46bbff;
}

.about-desc {
    margin-top: 3vh;
    width: 72%;
    text-align: justify;
}

.menu {
    float: left;
    width: 20%;
    color: white;
    margin: 5vh 0 5vh 0; /*atas kanan bawah kiri*/
}

footer h4 {
    margin-bottom: 2vh;
    color: #46bbff;
}

.menulink {
    display: block;
    margin-bottom: 1vh;
    color: white;
    text-decoration: none;
    transition: 500ms ease-in-out;
    position: relative;
    width: 20%;
}

.menulink::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menulink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link {
    width: 2vw;
    height: flex;
    transition: 200ms ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.webdev {
    float: left;
    width: 20%;
    color: white;
    margin: 5vh 0 5vh 0;
}

.webdevlink {
    display: block;
    margin-bottom: 1vh;
    color: white;
    text-decoration: none;
    transition: 500ms ease-in-out;
    position: relative;
    width: 34%;
}

.webdevlink::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.webdevlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer hr {
    color: white;
    border: 1px solid white;
    width: 85%;
    margin-left: 8vw;
}

.cpr {
    color: white;
    text-align: center;
    font-size: larger;
}